@charset "UTF-8";
/*--------------------------------------*
    * layout
*--------------------------------------*/
/*--------------------------------------*
    * component
*--------------------------------------*/
/*--------------------------------------*
    * project
*--------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
/* =============================================
共通
============================================= */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #4f4f4f;
  line-height: 1.6;
  overflow-x: hidden;
}
@media screen and (max-width:767px) {
  body {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width:768px) {
  body {
    font-size: clamp(0.5333333333rem, 1.1111111111vw, 1rem);
  }
}

p + p {
  margin-top: 2.1333333333vw;
}
@media screen and (min-width:768px) {
  p + p {
    margin-top: clamp(0.1666666667rem, 0.3472222222vw, 0.3125rem);
  }
}

a {
  text-decoration: none;
  color: #4f4f4f;
  -webkit-transition: opacity 0.5s 0s ease;
  transition: opacity 0.5s 0s ease;
}

a:hover {
  opacity: 0.7;
}

[id] {
  scroll-margin-top: 24vw;
}
@media screen and (min-width:768px) {
  [id] {
    scroll-margin-top: clamp(6.6666666667rem, 13.8888888889vw, 12.5rem);
  }
}

.pc {
  display: none;
}

.sp {
  display: block;
}

@media screen and (min-width:768px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}
@media screen and (min-width:768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .pc-only {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .inner-pc {
    padding: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem) clamp(5.6666666667rem, 11.8055555556vw, 10.625rem);
  }
}

picture img {
  width: 100%;
  height: auto;
  display: block;
}

.button {
  display: block;
  text-align: center;
  padding: 3.7333333333vw 2.6666666667vw;
  font-size: 5.3333333333vw;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  border-radius: 100vh;
  background-color: #f6fda1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  max-width: 77.3333333333vw;
}
@media screen and (max-width:767px) {
  .button {
    margin: 0 auto;
  }
}
@media screen and (min-width:768px) {
  .button {
    padding: clamp(0.6rem, 1.25vw, 1.125rem) 0;
    font-size: clamp(0.6rem, 1.25vw, 1.125rem);
  }
}

footer .button {
  max-width: 80vw;
}

@media screen and (max-width:767px) {
  .section__inner {
    margin-inline: 4.2666666667vw;
  }
}
@media screen and (min-width:768px) {
  .section__inner {
    margin-inline: 0;
    padding-inline: clamp(4.8666666667rem, 10.1388888889vw, 9.125rem);
  }
}

.section__title {
  text-align: center;
  font-size: 6.6666666667vw;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.48;
}
@media screen and (min-width:768px) {
  .section__title {
    font-size: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

.heading {
  text-align: center;
}

.heading__title {
  font-size: 8vw;
}
@media screen and (min-width:768px) {
  .heading__title {
    font-size: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

.text-area {
  margin-top: 8vw;
  text-align: center;
  line-height: 1.8;
}
@media screen and (min-width:768px) {
  .text-area {
    margin-top: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

/* =============================================
ヘッダー
============================================= */
header {
  position: fixed;
  width: 100%;
  height: 24vw;
  background: #fff;
  z-index: 100;
}
@media screen and (min-width:768px) {
  header {
    height: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 4.2666666667vw 6.9333333333vw;
  padding-block: 4.2666666667vw;
  -webkit-transition: all 1s 0s ease;
  transition: all 1s 0s ease;
}
@media screen and (min-width:768px) {
  .header__inner {
    padding: clamp(0.2666666667rem, 0.5555555556vw, 0.5rem) clamp(0.9rem, 1.875vw, 1.6875rem) clamp(0.2666666667rem, 0.5555555556vw, 0.5rem) clamp(2rem, 4.1666666667vw, 3.75rem);
    height: inherit;
  }
}

.header__logo {
  width: 48vw;
  height: auto;
}
@media screen and (min-width:768px) {
  .header__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: clamp(8.1333333333rem, 16.9444444444vw, 15.25rem);
    height: clamp(2.8333333333rem, 5.9027777778vw, 5.3125rem);
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4.5333333333vw;
     -moz-column-gap: 4.5333333333vw;
          column-gap: 4.5333333333vw;
}
@media screen and (min-width:768px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-column-gap: clamp(0.5666666667rem, 1.1805555556vw, 1.0625rem);
       -moz-column-gap: clamp(0.5666666667rem, 1.1805555556vw, 1.0625rem);
            column-gap: clamp(0.5666666667rem, 1.1805555556vw, 1.0625rem);
  }
}

.header__icon {
  width: 9.3333333333vw;
  height: 9.3333333333vw;
}
@media screen and (min-width:768px) {
  .header__icon {
    width: clamp(1.5rem, 3.125vw, 2.8125rem);
    height: clamp(1.5rem, 3.125vw, 2.8125rem);
  }
}

/* ここから下がハンバーガーメニューに関するCSS */
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1.3333333333vw;
  height: 8vw;
  width: 8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
  /* 重なり順を一番上にする */
  cursor: pointer;
}
@media screen and (min-width:768px) {
  .drawer_open {
    display: none;
  }
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: "";
  display: block;
  height: 2px;
  width: 8vw;
  background: #2f2f2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}
@media screen and (min-width:768px) {
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    display: none;
  }
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 2.1333333333vw;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 2.1333333333vw;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width:768px) {
  .nav {
    margin-right: clamp(1.3333333333rem, 2.7777777778vw, 2.5rem);
  }
}

/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 24vw;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (min-width:768px) {
  .nav_content {
    position: static;
    display: block;
    width: auto;
    height: auto;
    background: transparent;
    left: 0;
    top: 0;
    -webkit-transition: none;
    transition: none;
  }
}

/* メニュー黒ポチを消す */
.nav_list {
  padding: 12.5333333333vw 9.0666666667vw;
  height: 100%;
  font-size: 5.3333333333vw;
  list-style: none;
}
@media screen and (min-width:768px) {
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: clamp(0.9rem, 1.875vw, 1.6875rem);
       -moz-column-gap: clamp(0.9rem, 1.875vw, 1.6875rem);
            column-gap: clamp(0.9rem, 1.875vw, 1.6875rem);
    padding: unset;
    font-size: clamp(0.5333333333rem, 1.1111111111vw, 1rem);
  }
}

@media screen and (min-width:768px) {
  .nav_item {
    letter-spacing: 0.07em;
  }
}
.nav_item span {
  display: inline-block;
  margin-right: 4.5333333333vw;
  width: 8.5333333333vw;
  height: 2px;
  vertical-align: middle;
  background-color: #4f4f4f;
}
@media screen and (min-width:768px) {
  .nav_item span {
    display: none;
  }
}

.header__button {
  display: none;
}
@media screen and (min-width:768px) {
  .header__button {
    display: block;
    color: #fff;
    background-color: #4596c3;
    width: clamp(6.5rem, 13.5416666667vw, 12.1875rem);
    padding-block: clamp(0.3333333333rem, 0.6944444444vw, 0.625rem);
  }
}

.nav_item:not(:first-child) {
  margin-top: 13.3333333333vw;
}
@media screen and (min-width:768px) {
  .nav_item:not(:first-child) {
    margin-top: unset;
  }
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;
  /* メニューを画面に入れる */
}

/* =============================================
フッター
============================================= */
footer {
  text-align: center;
  background-color: #6e9fb9;
}

.footer__inner {
  padding: 9.0666666667vw 9.8666666667vw;
}
@media screen and (min-width:768px) {
  .footer__inner {
    padding: clamp(1.8666666667rem, 3.8888888889vw, 3.5rem) clamp(5.3333333333rem, 11.1111111111vw, 10rem);
  }
}

@media screen and (min-width:768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: clamp(3.7333333333rem, 7.7777777778vw, 7rem);
    width: 100%;
    margin: 0 auto;
    padding-inline: clamp(0.6rem, 1.25vw, 1.125rem);
  }
}

.footer__button {
  margin-bottom: 8.8vw;
}
@media screen and (min-width:768px) {
  .footer__button {
    margin-bottom: unset;
    width: clamp(10rem, 20.8333333333vw, 18.75rem);
  }
}

.footer__button + .footer__button {
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .footer__button + .footer__button {
    margin-top: unset;
  }
}

.footer__copyright {
  color: #000;
  font-size: 3.2vw;
  margin-top: -2.6666666667vw;
}
@media screen and (min-width:768px) {
  .footer__copyright {
    margin-top: clamp(1.9333333333rem, 4.0277777778vw, 3.625rem);
    text-align: right;
    font-size: clamp(0.4rem, 0.8333333333vw, 0.75rem);
  }
}

/* =============================================
メイン
============================================= */
main {
  padding-top: 24vw;
}
@media screen and (min-width:768px) {
  main {
    padding-top: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

/* =============================================
プライマリー
============================================= */
.primary {
  margin-top: 8vw;
  font-family: "Noto Serif JP", serif;
}
@media screen and (min-width:768px) {
  .primary {
    margin-top: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

.primary__inner {
  margin-inline: 5.8666666667vw;
}
@media screen and (min-width:768px) {
  .primary__inner {
    margin-inline: clamp(5.6666666667rem, 11.8055555556vw, 10.625rem);
  }
}

.primary__text {
  font-size: 4.2666666667vw;
}
@media screen and (min-width:768px) {
  .primary__text {
    font-size: clamp(0.6rem, 1.25vw, 1.125rem);
    line-height: 2.2;
  }
}

@media screen and (min-width:768px) {
  .primary__title {
    font-weight: 400;
  }
}

/* =============================================
ウローバッグとは
============================================= */
.about-top {
  margin-top: 16vw;
}
.about-top picture img {
  margin: 0 auto;
  max-width: clamp(26.7666666667rem, 55.7638888889vw, 50.1875rem);
}
@media screen and (min-width:768px) {
  .about-top {
    margin-top: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

.about-top__inner {
  margin-inline: 10.1333333333vw;
}
@media screen and (min-width:768px) {
  .about-top__inner {
    margin-inline: clamp(5.6666666667rem, 11.8055555556vw, 10.625rem);
  }
}

.about-top__title {
  margin-top: 16vw;
}
@media screen and (min-width:768px) {
  .about-top__title {
    margin-top: clamp(1.6666666667rem, 3.4722222222vw, 3.125rem);
  }
}

.about-top__text--bold {
  font-weight: normal;
}
@media screen and (min-width:768px) {
  .about-top__text--bold {
    font-weight: 500;
  }
}

.about-top__button {
  margin-top: 10.1333333333vw;
}
@media screen and (min-width:768px) {
  .about-top__button {
    width: clamp(9.6333333333rem, 20.0694444444vw, 18.0625rem);
    margin: clamp(2rem, 4.1666666667vw, 3.75rem) auto;
  }
}

.about-top__text-area {
  line-height: 1.75;
  margin-top: 6.9333333333vw;
}
@media screen and (min-width:768px) {
  .about-top__text-area {
    margin-top: clamp(1rem, 2.0833333333vw, 1.875rem);
    line-height: 2;
  }
}

/* =============================================
商品一覧
============================================= */
.item-menu {
  margin-top: 16vw;
  text-align: center;
  background-color: #e5f1f8;
}
@media screen and (min-width:768px) {
  .item-menu {
    margin: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem) clamp(5.6666666667rem, 11.8055555556vw, 10.625rem) 0;
  }
}

.item-menu__inner {
  padding: 13.3333333333vw 6.4vw;
}
@media screen and (min-width:768px) {
  .item-menu__inner {
    padding: clamp(2rem, 4.1666666667vw, 3.75rem) clamp(5.6333333333rem, 11.7361111111vw, 10.5625rem);
  }
}

.item-menu__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5.3333333333vw;
  margin-top: 4vw;
}
@media screen and (min-width:768px) {
  .item-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: clamp(1.3rem, 2.7083333333vw, 2.4375rem);
       -moz-column-gap: clamp(1.3rem, 2.7083333333vw, 2.4375rem);
            column-gap: clamp(1.3rem, 2.7083333333vw, 2.4375rem);
    row-gap: clamp(0.4666666667rem, 0.9722222222vw, 0.875rem);
    margin: clamp(0.1666666667rem, 0.3472222222vw, 0.3125rem) auto;
    max-width: clamp(25.3666666667rem, 52.8472222222vw, 47.5625rem);
  }
}

.item-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-menu__image {
  width: 33.3333333333vw;
  height: auto;
}
@media screen and (min-width:768px) {
  .item-menu__image {
    width: clamp(5.3666666667rem, 11.1805555556vw, 10.0625rem);
  }
}

.item-menu__text {
  margin-top: 2.1333333333vw;
}
@media screen and (min-width:768px) {
  .item-menu__text {
    margin-top: clamp(0.3rem, 0.625vw, 0.5625rem);
  }
}

/* =============================================
商品へのこだわり
============================================= */
.commitment-top {
  margin-top: 16vw;
  margin-inline: 3.7333333333vw;
}
@media screen and (min-width:768px) {
  .commitment-top {
    margin: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem) clamp(5.6666666667rem, 11.8055555556vw, 10.625rem);
  }
}

@media screen and (max-width:767px) {
  .commitment-top__line {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .commitment-top__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: clamp(2.2333333333rem, 4.6527777778vw, 4.1875rem);
  }
}

.commitment-top__wrapper {
  margin-top: 11.2vw;
}
@media screen and (min-width:768px) {
  .commitment-top__wrapper {
    margin-top: clamp(-0.625rem, -0.6944444444vw, -0.25rem);
    width: 50%;
  }
}

.commitment-top__title {
  font-family: "Noto Serif JP", serif;
}

.commitment-top__text {
  margin-top: 5.3333333333vw;
  line-height: 2.05;
}
@media screen and (min-width:768px) {
  .commitment-top__text {
    margin-top: clamp(1.0333333333rem, 2.1527777778vw, 1.9375rem);
  }
}

.slider__link-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(128, 128, 128, 0.3882352941);
  z-index: 5;
  height: 29.3333333333vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width:768px) {
  .slider__link-wrap {
    top: 44%;
    height: clamp(5.4666666667rem, 11.3888888889vw, 10.25rem);
  }
}
.slider__link-wrap p {
  font-family: "noto serif jp", serif;
  text-align: center;
  color: white;
  font-size: 6.4vw;
  margin-top: -1.3333333333vw;
}
@media screen and (min-width:768px) {
  .slider__link-wrap p {
    font-size: clamp(1.2rem, 2.5vw, 2.25rem);
  }
}
.slider__link-wrap .button {
  background: white;
  width: 30%;
  margin: 4.2666666667vw auto 0;
  padding: 0.5333333333vw;
  font-size: 2.6666666667vw;
}
@media screen and (min-width:768px) {
  .slider__link-wrap .button {
    font-size: clamp(0.4rem, 0.8333333333vw, 0.75rem);
    margin: clamp(0.8rem, 1.6666666667vw, 1.5rem) auto 0;
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 11.7333333333vw;
  color: white;
  z-index: 6;
}
@media screen and (min-width:768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 28%;
  }
}

.swiper-button-prev {
  left: 0;
}
@media screen and (min-width:768px) {
  .swiper-button-prev {
    left: 2%;
  }
}

.swiper-button-next {
  right: 0;
}
@media screen and (min-width:768px) {
  .swiper-button-next {
    right: 2%;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 6.4vw;
}
@media screen and (min-width:768px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: clamp(0.6rem, 1.25vw, 1.5rem);
  }
}

.slider-nav {
  margin-top: 1.6vw;
  height: 19.7333333333vw;
}
@media screen and (min-width:768px) {
  .slider-nav {
    margin-top: clamp(0.3333333333rem, 0.6944444444vw, 0.625rem);
    height: clamp(3.5333333333rem, 7.3611111111vw, 6.625rem);
  }
}

.commitment-top__swiper {
  position: relative;
}
@media screen and (min-width:768px) {
  .commitment-top__swiper {
    width: 50%;
    max-width: clamp(16.8rem, 35vw, 31.5rem);
  }
}

.slider-main {
  height: 64vw;
}
@media screen and (min-width:768px) {
  .slider-main {
    height: clamp(11.6666666667rem, 24.3055555556vw, 21.875rem);
  }
}

.swiper-slide {
  width: 100%;
  height: 100%;
}
@media screen and (min-width:768px) {
  .swiper-slide {
    height: clamp(10rem, 20.8333333333vw, 18.75rem);
  }
}

.slider-thumbnail {
  margin-top: 2.6666666667vw;
}
.slider-thumbnail .swiper-wrapper {
  height: 24vw;
}

.slider-thumbnail .swiper-slide {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 33.3333333333%;
}

.slider-thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

/* =============================================
お客様の声
============================================= */
.customer-review {
  margin-top: 16vw;
  text-align: center;
  background-color: #e5f1f8;
}
@media screen and (min-width:768px) {
  .customer-review {
    margin: clamp(4.4rem, 9.1666666667vw, 8.25rem) clamp(5.6666666667rem, 11.8055555556vw, 10.625rem) clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

.customer-review__inner {
  padding: 14.9333333333vw 5.3333333333vw;
}
@media screen and (min-width:768px) {
  .customer-review__inner {
    padding: clamp(1.8rem, 3.75vw, 3.375rem) clamp(1.6666666667rem, 3.4722222222vw, 3.125rem);
  }
}

.customer-review__content {
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .customer-review__content {
    margin-top: clamp(1.3rem, 2.7083333333vw, 2.4375rem);
  }
}

.customer-review__subtitle {
  letter-spacing: 0.1em;
}

/* =============================================
2P ウロバッグカバーとは
============================================= */
.about {
  margin-top: 16vw;
}
@media screen and (min-width:768px) {
  .about {
    margin-top: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

.about__title {
  color: #4596c3;
}
@media screen and (min-width:768px) {
  .about__title {
    font-size: clamp(1.1666666667rem, 2.4305555556vw, 2.1875rem);
    font-weight: clamp(20rem, 41.6666666667vw, 37.5rem);
  }
}

.about__thumnail {
  display: block;
  margin-top: 10.6666666667vw;
}
@media screen and (min-width:768px) {
  .about__thumnail {
    margin: clamp(2rem, 4.1666666667vw, 3.75rem) clamp(8.6666666667rem, 18.0555555556vw, 16.25rem);
  }
}

.about__inner {
  padding-inline: 6.4vw;
  margin-top: 15.4666666667vw;
}
@media screen and (min-width:768px) {
  .about__inner {
    margin-top: clamp(2.3333333333rem, 4.8611111111vw, 4.375rem);
    padding-inline: 0;
  }
}

@media screen and (min-width:768px) {
  .about__text-area {
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
  }
}

.about__list {
  display: grid;
  row-gap: 16vw;
  margin-top: 16vw;
}
@media screen and (min-width:768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
    gap: clamp(5rem, 10.4166666667vw, 9.375rem);
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8vw;
}
@media screen and (min-width:768px) {
  .about__item {
    row-gap: clamp(0.4rem, 0.8333333333vw, 0.75rem);
  }
}

.about__image {
  width: 47.7333333333vw;
  height: auto;
}
@media screen and (min-width:768px) {
  .about__image {
    width: clamp(8rem, 16.6666666667vw, 15rem);
  }
}

.about__image01 {
  width: 48vw;
  margin-left: 4.2666666667vw;
}
@media screen and (min-width:768px) {
  .about__image01 {
    width: clamp(8rem, 16.6666666667vw, 15rem);
    margin-left: 0;
  }
}

.about__image02 {
  width: 53.3333333333vw;
}
@media screen and (min-width:768px) {
  .about__image02 {
    width: clamp(6.6666666667rem, 13.8888888889vw, 12.5rem);
  }
}

.about__image03 {
  width: 56.5333333333vw;
}
@media screen and (min-width:768px) {
  .about__image03 {
    width: clamp(7.1333333333rem, 14.8611111111vw, 13.375rem);
  }
}

.about__item-text {
  text-align: center;
  font-weight: 500;
}

.about__text--bold {
  font-weight: 500;
}

.about__button {
  margin-top: 16vw;
  width: 77.0666666667vw;
  color: #fff;
  background-color: #4596c3;
}
@media screen and (min-width:768px) {
  .about__button {
    margin: clamp(2rem, 4.1666666667vw, 3.75rem) auto;
    width: clamp(10rem, 20.8333333333vw, 18.75rem);
  }
}

/* =============================================
4ステップ
============================================= */
.step {
  margin-top: 16vw;
  background-color: #e5f1f8;
}
@media screen and (min-width:768px) {
  .step {
    padding-block: clamp(2rem, 4.1666666667vw, 3.75rem) 1px;
    margin: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem) clamp(5.6666666667rem, 11.8055555556vw, 10.625rem) 0;
    background-color: #e5f1f8;
  }
}

@media screen and (max-width:767px) {
  .step__bg {
    padding-block: 16vw;
    background-color: #e5f1f8;
  }
}

@media screen and (min-width:768px) {
  .step__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: clamp(0.2666666667rem, 0.5555555556vw, 0.5rem);
       -moz-column-gap: clamp(0.2666666667rem, 0.5555555556vw, 0.5rem);
            column-gap: clamp(0.2666666667rem, 0.5555555556vw, 0.5rem);
  }
}

.step__decoration {
  margin: 0 auto;
  width: 46.9333333333vw;
  height: 15.4666666667vw;
}
@media screen and (min-width:768px) {
  .step__decoration {
    margin: unset;
    width: clamp(5.4666666667rem, 11.3888888889vw, 10.25rem);
    height: clamp(1.8rem, 3.75vw, 3.375rem);
    margin-left: clamp(-2.5rem, -2.7777777778vw, -1rem);
  }
}

.step__title {
  margin-top: 3.2vw;
  text-align: center;
  font-size: 6.4vw;
  color: #4596c3;
  font-weight: 350;
}
@media screen and (min-width:768px) {
  .step__title {
    margin-top: unset;
    font-size: clamp(1rem, 2.0833333333vw, 1.875rem);
    font-family: "Noto Serif JP", serif;
    letter-spacing: 0.03em;
  }
}

.step__list {
  display: grid;
  row-gap: 8vw;
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .step__list {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: clamp(2.5666666667rem, 5.3472222222vw, 4.8125rem);
       -moz-column-gap: clamp(2.5666666667rem, 5.3472222222vw, 4.8125rem);
            column-gap: clamp(2.5666666667rem, 5.3472222222vw, 4.8125rem);
    row-gap: clamp(1.3333333333rem, 2.7777777778vw, 2.5rem);
    margin-top: clamp(3.0666666667rem, 6.3888888889vw, 5.75rem);
  }
}

.step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.2666666667vw;
}
@media screen and (min-width:768px) {
  .step__item {
    row-gap: clamp(0.7rem, 1.4583333333vw, 1.3125rem);
    position: relative;
    margin-top: 0;
  }
}

.step__order {
  width: 14.4vw;
}
.step__order img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width:768px) {
  .step__order {
    position: absolute;
    top: -9%;
    left: clamp(-1.6666666667rem, -3.4722222222vw, -3.125rem);
    width: clamp(2.4666666667rem, 5.1388888889vw, 4.625rem);
    height: clamp(1.8666666667rem, 3.8888888889vw, 3.5rem);
    z-index: 2;
  }
}

.step__image {
  position: relative;
  z-index: 1;
  margin-top: 5.3333333333vw;
  height: 64vw;
}
@media screen and (min-width:768px) {
  .step__image {
    height: clamp(7.9333333333rem, 16.5277777778vw, 14.875rem);
    margin-top: 0;
  }
}
.step__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.step__text {
  text-align: center;
  font-weight: 500;
  margin-top: 5.3333333333vw;
}
@media screen and (min-width:768px) {
  .step__text {
    margin-top: 0;
  }
}

/* =============================================
新タイプ
============================================= */
.step__new-type {
  padding-top: 16vw;
  background-color: #fff;
}
@media screen and (min-width:768px) {
  .step__new-type {
    margin: clamp(2rem, 4.1666666667vw, 3.75rem) clamp(2.1666666667rem, 4.5138888889vw, 4.0625rem);
    padding: clamp(2rem, 4.1666666667vw, 3.75rem) clamp(4.1666666667rem, 8.6805555556vw, 7.8125rem);
    background-color: #fff;
  }
}

@media screen and (min-width:768px) {
  .step__new-type .section__inner {
    padding: 0;
  }
}

@media screen and (min-width:768px) {
  .step__new-type-inner {
    margin-inline: unset;
  }
}

.step__new-type-title {
  text-align: center;
  font-size: 6.4vw;
  font-weight: 350;
}
@media screen and (min-width:768px) {
  .step__new-type-title {
    font-size: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

.step__new-type-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 6.4vw;
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .step__new-type-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: clamp(1.2rem, 2.5vw, 2.25rem);
       -moz-column-gap: clamp(1.2rem, 2.5vw, 2.25rem);
            column-gap: clamp(1.2rem, 2.5vw, 2.25rem);
    margin-top: clamp(1.4666666667rem, 3.0555555556vw, 2.75rem);
  }
}

.step__new-type-arrow {
  width: 8vw;
}
.step__new-type-arrow img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width:768px) {
  .step__new-type-arrow {
    width: clamp(1.2666666667rem, 2.6388888889vw, 2.375rem);
    height: clamp(1.2666666667rem, 2.6388888889vw, 2.375rem);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

/* =============================================
TOPへ戻るボタン
============================================= */
.about-button {
  margin-block: 16vw;
  width: 77.0666666667vw;
  background-color: #e5f1f8;
}
@media screen and (min-width:768px) {
  .about-button {
    margin: clamp(2rem, 4.1666666667vw, 3.75rem) auto;
    width: clamp(9.6333333333rem, 20.0694444444vw, 18.0625rem);
  }
}

@media screen and (min-width:768px) {
  .commitment__button.about-button {
    margin: clamp(1.6666666667rem, 3.4722222222vw, 3.125rem) auto clamp(4.3333333333rem, 9.0277777778vw, 8.125rem);
  }
}

/* =============================================
こだわりのアイテム
============================================= */
.commitment {
  margin-top: 16vw;
}
@media screen and (min-width:768px) {
  .commitment {
    margin-top: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem);
  }
}

@media screen and (min-width:768px) {
  .commitment__inner.section__inner {
    padding-inline: clamp(8.3333333333rem, 17.3611111111vw, 15.625rem);
  }
}

.commitment__title {
  color: #4596c3;
}
@media screen and (min-width:768px) {
  .commitment__title {
    font-size: clamp(1.1666666667rem, 2.4305555556vw, 2.1875rem);
  }
}

.commitment__line {
  margin-top: 8vw;
}

@media screen and (min-width:768px) {
  .commitment__line.first {
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
  }
}

@media screen and (min-width:768px) {
  .commitment__line--reverse {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.commitment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8vw;
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .commitment__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: clamp(1.3333333333rem, 2.7777777778vw, 2.5rem);
       -moz-column-gap: clamp(1.3333333333rem, 2.7777777778vw, 2.5rem);
            column-gap: clamp(1.3333333333rem, 2.7777777778vw, 2.5rem);
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
  }
}

.commitment__subtitle {
  margin-top: 8vw;
  text-align: center;
  font-size: 6.4vw;
}
@media screen and (min-width:768px) {
  .commitment__subtitle {
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
    font-size: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

.commitment__text-area {
  padding-inline: 1.8666666667vw;
}
.commitment__text-area p + p {
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .commitment__text-area p + p {
    margin-top: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

/* =============================================
よくある質問
============================================= */
.faq {
  padding-block: 16vw 26.6666666667vw;
  background-color: #e5f1f8;
}
@media screen and (min-width:768px) {
  .faq {
    padding: clamp(3.3333333333rem, 6.9444444444vw, 6.25rem) clamp(2.1666666667rem, 4.5138888889vw, 4.0625rem);
    margin-inline: clamp(5.6666666667rem, 11.8055555556vw, 10.625rem);
    margin-top: clamp(1.3333333333rem, 2.7777777778vw, 2.5rem);
  }
}

.faq__list {
  display: grid;
  row-gap: 8vw;
  margin-top: 8vw;
}
@media screen and (min-width:768px) {
  .faq__list {
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
    row-gap: clamp(2rem, 4.1666666667vw, 3.75rem);
  }
}

.faq__item {
  padding: 6.4vw 6.4vw 11.2vw;
  background-color: rgba(102, 136, 154, 0.15);
}
@media screen and (min-width:768px) {
  .faq__item {
    padding: clamp(1.0666666667rem, 2.2222222222vw, 2rem) clamp(1.5666666667rem, 3.2638888889vw, 2.9375rem);
  }
}
.faq__item:last-child {
  padding-bottom: 6.4vw;
}
@media screen and (min-width:768px) {
  .faq__item:last-child {
    padding-bottom: clamp(0.8666666667rem, 1.8055555556vw, 1.625rem);
  }
}

.faq__item--white {
  background-color: #fff;
}

.faq__question-title,
.faq__answer-title {
  font-size: 5.3333333333vw;
  font-weight: 500;
}
.faq__question-title span,
.faq__answer-title span {
  margin-right: 2.6666666667vw;
  font-size: 7.2vw;
  font-family: "Noto Serif JP", serif;
  color: #4596c3;
}
@media screen and (min-width:768px) {
  .faq__question-title,
  .faq__answer-title {
    font-size: clamp(0.6666666667rem, 1.3888888889vw, 1.25rem);
  }
  .faq__question-title span,
  .faq__answer-title span {
    margin-right: clamp(0.3333333333rem, 0.6944444444vw, 0.625rem);
    font-size: clamp(0.9rem, 1.875vw, 1.6875rem);
  }
}

.faq__answer {
  margin-top: 3.2vw;
}
@media screen and (min-width:768px) {
  .faq__answer {
    margin-top: clamp(0.5333333333rem, 1.1111111111vw, 1rem);
  }
}

@media screen and (min-width:768px) {
  .faq__answer-text {
    padding-left: clamp(1rem, 2.0833333333vw, 1.875rem);
  }
}

.faq__answer-text-area {
  margin-top: 2.6666666667vw;
  line-height: 1.75;
}
@media screen and (min-width:768px) {
  .faq__answer-text-area {
    margin-top: clamp(0.4rem, 0.8333333333vw, 0.75rem);
  }
}

/* =============================================
お問い合わせフォーム
============================================= */
.contact {
  max-width: 133.3333333333vw;
  margin: 0 auto;
  padding-block: 10.6666666667vw 10.6666666667vw;
}
@media screen and (min-width:768px) {
  .contact {
    max-width: clamp(32.3333333333rem, 67.3611111111vw, 60.625rem);
    padding-block: 0 clamp(3rem, 6.25vw, 5.625rem);
    margin-top: clamp(3rem, 6.25vw, 5.625rem);
  }
}

.contact__inner {
  padding: 4.5333333333vw;
}
@media screen and (min-width:768px) {
  .contact__inner {
    padding: 0;
  }
}

@media screen and (min-width:768px) {
  form {
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
  }
}

.form-group {
  margin-top: 10.6666666667vw;
}
.form-group:nth-child(1) {
  margin-top: 12.2666666667vw;
}
@media screen and (min-width:768px) {
  .form-group:nth-child(1) {
    margin-top: 0;
  }
}
.form-group:nth-child(2) {
  margin-top: 18.6666666667vw;
}
.form-group:nth-child(3) {
  margin-top: 18.6666666667vw;
}
@media screen and (min-width:768px) {
  .form-group {
    margin-top: clamp(2rem, 4.1666666667vw, 3.75rem);
  }
  .form-group:not(:first-of-type) {
    margin-top: clamp(1.6666666667rem, 3.4722222222vw, 3.125rem);
  }
}

.contact__label {
  display: block;
  margin-bottom: 5.6vw;
  font-size: 5.3333333333vw;
}
@media screen and (min-width:768px) {
  .contact__label {
    margin-bottom: clamp(0.7rem, 1.4583333333vw, 1.3125rem);
    font-size: clamp(0.5333333333rem, 1.1111111111vw, 1rem);
  }
}

input,
textarea {
  width: 100%;
  padding: 2.6666666667vw;
  background-color: #eeeeee;
  border: unset;
}
@media screen and (min-width:768px) {
  input,
  textarea {
    padding: clamp(0.3333333333rem, 0.6944444444vw, 0.625rem);
  }
}

textarea {
  height: 66.6666666667vw;
}
@media screen and (min-width:768px) {
  textarea {
    height: clamp(8.6666666667rem, 18.0555555556vw, 16.25rem);
  }
}

.contact__button {
  margin-top: 12.5333333333vw;
  width: 100%;
  max-width: 106.6666666667vw;
  background-color: #e5f1f8;
  color: #4f4f4f;
  padding: 4.2666666667vw 9.3333333333vw;
  border: unset;
  border-radius: unset;
  cursor: pointer;
}
@media screen and (min-width:768px) {
  .contact__button {
    margin: clamp(2rem, 4.1666666667vw, 3.75rem) auto;
    width: clamp(10rem, 20.8333333333vw, 18.75rem);
    padding: clamp(0.5333333333rem, 1.1111111111vw, 1rem);
  }
}

@media screen and (min-width:768px) {
  .contact__subtitle {
    letter-spacing: 0.1em;
  }
}